body{
background-color:	#7FFFD4
}
h1{
  font-size: 70px;color: #000000
}
h2{
  font-size: 45px
}
p{
  font-size: 20px;color: #000000
}
li{
  font-size: 20px color: #000000
}
a{
  color:#000000
}
h2{
  border: 7px solid green
}
h1{
  border: 7px solid green
}
ul{
  font-size: 20px
}
